{
    "swagger": "2.0", 
    "info": {
        "title": "API Activation and Configuration", 
        "description": "This is Swagger UI environment generated for the TMF API Activation and Configuration specification", 
        "version": "1.0"
    }, 
    "host": "env-0693795.jelastic.servint.net", 
    "basePath": "/DSEntityProvisioning/api/ActivationAndConfiguration/v2", 
    "schemes": [
        "http"
    ], 
    "consumes": [
        "application/json;charset=utf-8"
    ], 
    "produces": [
        "application/json;charset=utf-8"
    ], 
    "definitions": {
        "Error": {
            "description": "Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class.", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name.", 
                    "type": "string"
                }, 
                "code": {
                    "description": "Application relevant detail, defined in the API or a common list.", 
                    "type": "integer"
                }, 
                "message": {
                    "description": "More details and corrective actions related to the error which can be shown to a client user.", 
                    "type": "string"
                }, 
                "reason": {
                    "description": "Explanation of the reason for the error which can be shown to a client user.", 
                    "type": "string"
                }, 
                "referenceError": {
                    "description": "URI of documentation describing the error.", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "status": {
                    "description": "HTTP Error code extension", 
                    "type": "integer"
                }
            }, 
            "required": [
                "code", 
                "reason"
            ], 
            "type": "object"
        }, 
        "EventSubscription": {
            "description": "Sets the communication endpoint address the service instance must use to deliver notification information", 
            "properties": {
                "callback": {
                    "description": "The callback being registered.", 
                    "type": "string"
                }, 
                "id": {
                    "description": "Id of the listener", 
                    "type": "string"
                }, 
                "query": {
                    "description": "additional data to be passed", 
                    "type": "string"
                }
            }, 
            "required": [
                "id", 
                "callback"
            ], 
            "type": "object"
        }, 
        "EventSubscriptionInput": {
            "description": "Sets the communication endpoint address the service instance must use to deliver notification information", 
            "properties": {
                "callback": {
                    "description": "The callback being registered.", 
                    "type": "string"
                }, 
                "query": {
                    "description": "additional data to be passed", 
                    "type": "string"
                }
            }, 
            "required": [
                "callback"
            ], 
            "type": "object"
        }, 
        "HeaderItem": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "name": {
                    "description": "", 
                    "type": "string"
                }, 
                "value": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "Money": {
            "description": "A base / value business entity used to represent money", 
            "properties": {
                "unit": {
                    "description": "Currency (ISO4217 norm uses 3 letters to define the currency)", 
                    "type": "string"
                }, 
                "value": {
                    "description": "A positive floating point number", 
                    "format": "float", 
                    "type": "number"
                }
            }, 
            "type": "object"
        }, 
        "Monitor": {
            "description": "JSON Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com)", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }, 
                "request": {
                    "$ref": "#/definitions/Request", 
                    "description": ""
                }, 
                "response": {
                    "$ref": "#/definitions/Response", 
                    "description": ""
                }, 
                "sourceHref": {
                    "description": "", 
                    "type": "string"
                }, 
                "state": {
                    "description": "", 
                    "type": "string"
                }, 
                "type": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "Quantity": {
            "properties": {
                "amount": {
                    "format": "float", 
                    "type": "number"
                }, 
                "units": {
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "RelatedPartyRef": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@referredType": {
                    "description": "The type of the referred entity", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }, 
                "role": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "Request": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "body": {
                    "description": "", 
                    "type": "string"
                }, 
                "header": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/HeaderItem"
                    }, 
                    "type": "array"
                }, 
                "method": {
                    "description": "", 
                    "type": "string"
                }, 
                "to": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "Resource": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "adminState": {
                    "description": "", 
                    "type": "string"
                }, 
                "description": {
                    "description": "", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "integer"
                }, 
                "name": {
                    "description": "", 
                    "type": "string"
                }, 
                "operationalState": {
                    "description": "", 
                    "type": "string"
                }, 
                "relatedParty": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }, 
                    "type": "array"
                }, 
                "resourceCharacteristic": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }, 
                    "type": "array"
                }, 
                "resourceRelationship": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }, 
                    "type": "array"
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecification", 
                    "description": ""
                }, 
                "state": {
                    "description": "", 
                    "type": "string"
                }, 
                "type": {
                    "description": "", 
                    "type": "string"
                }, 
                "usageState": {
                    "description": "", 
                    "type": "string"
                }, 
                "version": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ResourceCharacteristic": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "name": {
                    "description": "", 
                    "type": "string"
                }, 
                "value": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ResourceRef": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@referredType": {
                    "description": "The type of the referred entity", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ResourceRelationship": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "resource": {
                    "$ref": "#/definitions/ResourceRef", 
                    "description": ""
                }, 
                "type": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ResourceSpecification": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "Response": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "body": {
                    "description": "", 
                    "type": "string"
                }, 
                "header": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/HeaderItem"
                    }, 
                    "type": "array"
                }, 
                "statusCode": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "Service": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "description": {
                    "description": "", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "integer"
                }, 
                "name": {
                    "description": "", 
                    "type": "string"
                }, 
                "relatedParty": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }, 
                    "type": "array"
                }, 
                "serviceCharacteristic": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/ServiceCharacteristic"
                    }, 
                    "type": "array"
                }, 
                "serviceRelationship": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/ServiceRelationship"
                    }, 
                    "type": "array"
                }, 
                "serviceSpecification": {
                    "$ref": "#/definitions/ServiceSpecification", 
                    "description": ""
                }, 
                "state": {
                    "description": "", 
                    "type": "string"
                }, 
                "supportingResource": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/SupportingResource"
                    }, 
                    "type": "array"
                }, 
                "supportingService": {
                    "description": "", 
                    "items": {
                        "$ref": "#/definitions/SupportingService"
                    }, 
                    "type": "array"
                }, 
                "type": {
                    "description": "", 
                    "type": "string"
                }, 
                "version": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ServiceCharacteristic": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "name": {
                    "description": "", 
                    "type": "string"
                }, 
                "value": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ServiceRef": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@referredType": {
                    "description": "The type of the referred entity", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ServiceRelationship": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "service": {
                    "$ref": "#/definitions/ServiceRef", 
                    "description": ""
                }, 
                "type": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "ServiceSpecification": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "SupportingResource": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "SupportingService": {
            "description": "", 
            "properties": {
                "@baseType": {
                    "description": "When sub-classing, this defines the super-class", 
                    "type": "string"
                }, 
                "@schemaLocation": {
                    "description": "A URI to a JSON-Schema file that defines additional attributes and relationships", 
                    "format": "uri", 
                    "type": "string"
                }, 
                "@type": {
                    "description": "When sub-classing, this defines the sub-class entity name", 
                    "type": "string"
                }, 
                "href": {
                    "description": "", 
                    "type": "string"
                }, 
                "id": {
                    "description": "", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }, 
        "TimePeriod": {
            "description": "A period of time, either as a deadline (endDateTime only) or with a start and end. If you provide a startDateTime, you must also provide the endDateTime", 
            "properties": {
                "endDateTime": {
                    "description": "End of the time period, using IETC-RFC-3339 format", 
                    "format": "date-time", 
                    "type": "string"
                }, 
                "startDateTime": {
                    "description": "Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end", 
                    "format": "date-time", 
                    "type": "string"
                }
            }, 
            "type": "object"
        }
    }, 
    "tags": []
}